@import './mixins';

/* GRID SYSTEM PLAN */

/*

flex class: display: flex

Rows: that contain the colums: flex, flex-direction: row, 100% width, margin left/right: 5%

cols: 1-12 for sm md lg

*/

/* FLEX */

.makeFlex {
  @include flex;
}

/* ROWS */

.row {
  @include flex;
  flex-direction: row;
  width: 96%;
  margin: auto 2%;
}

/* GENERAL TEXT STYLES */

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

/* COLUMNS */

/* SMALL */

.col-sm-1 {
  @include width1;
  @include col-sm-pad;
}

.col-sm-2 {
  @include width2;
  @include col-sm-pad;
}

.col-sm-3 {
  @include width3;
  @include col-sm-pad;
}

.col-sm-4 {
  @include width4;
  @include col-sm-pad;
}

.col-sm-5 {
  @include width5;
  @include col-sm-pad;
}

.col-sm-6 {
  @include width6;
  @include col-sm-pad;
}

.col-sm-7 {
  @include width7;
  @include col-sm-pad;
}

.col-sm-8 {
  @include width8;
  @include col-sm-pad;
}

.col-sm-9 {
  @include width9;
  @include col-sm-pad;
}

.col-sm-10 {
  @include width10;
  @include col-sm-pad;
}

.col-sm-11 {
  @include width11;
  @include col-sm-pad;
}

.col-sm-12 {
  @include width12;
  @include col-sm-pad;
}

.hide-sm {
  @include hide;
  @media only screen and (min-width: 720px) {
    @include show;
  }
}

.hide-md {
  @include hide;
  @media only screen and (min-width: 1024px) {
    @include show;
  }
}


/* MEDIUM */
@media only screen and (min-width: 720px) {

  .col-md-1 {
    @include width1;
    @include col-md-pad;
  }
  
  .col-md-2 {
    @include width2;
    @include col-md-pad;
  }
  
  .col-md-3 {
    @include width3;
    @include col-md-pad;
  }
  
  .col-md-4 {
    @include width4;
    @include col-md-pad;
  }
  
  .col-md-5 {
    @include width5;
    @include col-md-pad;
  }
  
  .col-md-6 {
    @include width6;
    @include col-md-pad;
  }
  
  .col-md-7 {
    @include width7;
    @include col-md-pad;
  }
  
  .col-md-8 {
    @include width8;
    @include col-md-pad;
  }
  
  .col-md-9 {
    @include width9;
    @include col-md-pad;
  }
  
  .col-md-10 {
    @include width10;
    @include col-md-pad;
  }
  
  .col-md-11 {
    @include width11;
    @include col-md-pad;
  }
  
  .col-md-12 {
    @include width12;
    @include col-md-pad;
  }

}

/* LARGE */
@media only screen and (min-width: 1024px) {

  .col-lg-1 {
    @include width1;
    @include col-lg-pad;
  }
  
  .col-lg-2 {
    @include width2;
    @include col-lg-pad;
  }
  
  .col-lg-3 {
    @include width3;
    @include col-lg-pad;
  }
  
  .col-lg-4 {
    @include width4;
    @include col-lg-pad;
  }
  
  .col-lg-5 {
    @include width5;
    @include col-lg-pad;
  }
  
  .col-lg-6 {
    @include width6;
    @include col-lg-pad;
  }
  
  .col-lg-7 {
    @include width7;
    @include col-lg-pad;
  }
  
  .col-lg-8 {
    @include width8;
    @include col-lg-pad;
  }
  
  .col-lg-9 {
    @include width9;
    @include col-lg-pad;
  }
  
  .col-lg-10 {
    @include width10;
    @include col-lg-pad;
  }
  
  .col-lg-11 {
    @include width11;
    @include col-lg-pad;
  }
  
  .col-lg-12 {
    @include width12;
    @include col-lg-pad;
  }

}
